<section class="auth-wrap">
    <div class="card">
      <h2>Zaloguj się</h2>
  
      <form [formGroup]="form" (ngSubmit)="submit()" class="form">
        <div class="row">
          <label for="email">E-mail</label>
          <input id="email" type="email" formControlName="email" placeholder="anna@example.com" />
          @if (hasErr('email','required')) { <small class="err">Podaj e-mail</small> }
          @if (hasErr('email','email')) { <small class="err">Niepoprawny e-mail</small> }
        </div>
  
        <div class="row">
          <label for="password">Hasło</label>
          <input id="password" type="password" formControlName="password" placeholder="••••••••" />
          @if (hasErr('password','required')) { <small class="err">Podaj hasło</small> }
        </div>
  
        <button class="btn" type="submit" [disabled]="loading || form.invalid">
          @if (!loading) { Zaloguj } @else { Logowanie… }
        </button>
  
        @if (error) { <div class="alert error">{{ error }}</div> }
      </form>
  
      <div class="alt">
        <span>Nie masz konta?</span>
        <a class="link-btn" routerLink="/signup">Zarejestruj się</a>
      </div>
    </div>
  </section>
  