<div class="about-container">
  <img src="assets/image.jpg" alt="Profile Photo" class="about-photo" />

  <div class="about-text">
    <h1>O mnie</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et massa
      vitae sapien malesuada volutpat. Sed at justo a magna lacinia vestibulum.
      Aliquam erat volutpat.
    </p>
    <p>
      Donec vel magna at elit sollicitudin fermentum. Curabitur scelerisque eros
      ut pretium hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus
      et ultrices posuere cubilia curae; Sed vitae tincidunt eros.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.
      Donec vehicula imperdiet purus, et laoreet mi tristique non.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida
      lacus laoreet sodales ultrices. Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Nunc fringilla
      commodo diam a blandit. Etiam a quam rutrum, ultricies tellus nec, congue
      dolor. Curabitur consectetur massa vel sapien facilisis, vitae maximus
      massa viverra. Praesent malesuada suscipit elit id euismod. Praesent vitae
      arcu ac augue tincidunt interdum eget sed orci. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Suspendisse efficitur quis libero fermentum vulputate. Donec efficitur
      mattis magna, a gravida lectus malesuada a. Integer vestibulum, urna vitae
      mattis luctus, arcu sem venenatis eros, ac vulputate nisl libero eu lorem.
      Aliquam sit amet congue massa, ac consequat augue. Curabitur feugiat diam
      quis quam suscipit accumsan. Sed gravida id leo at placerat. In non
      eleifend leo. Curabitur felis erat, placerat et feugiat in, vulputate vel
      ex. Suspendisse viverra, massa quis gravida fermentum, urna augue pulvinar
      magna, vitae blandit leo risus eu arcu. In hac habitasse platea dictumst.
      Praesent vel egestas massa. Cras interdum, lectus a interdum posuere,
      metus lorem ullamcorper tellus, non ultricies erat orci ac nisi. Ut at
      tellus quis odio venenatis tincidunt suscipit id est. Orci varius natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi
      hendrerit sed sem id gravida. Aenean efficitur magna risus, ac
      pellentesque tellus commodo ut. Proin facilisis arcu nec sapien rutrum,
      sed egestas sapien porttitor. Proin libero nisi, fermentum mattis tortor
      sit amet, maximus placerat sapien. Duis pellentesque condimentum massa
      vitae vulputate. Suspendisse consectetur enim et velit vehicula, venenatis
      tristique ex accumsan. Etiam sollicitudin neque metus, non elementum lacus
      hendrerit eget. Morbi at nunc erat. Duis in rutrum odio. Mauris eget est
      nec tortor ultricies sodales in nec neque. Quisque posuere lorem id nisl
      euismod laoreet. Integer feugiat molestie ligula nec consequat.
      Suspendisse at bibendum magna. Donec vitae porttitor neque. Maecenas
      dictum felis vitae quam egestas, quis vestibulum tellus sodales. In ut
      porttitor nulla. Vivamus vel magna enim. Nam at blandit lacus. In ac
      mauris at purus blandit eleifend. Praesent tincidunt sapien libero, non
      rhoncus arcu semper et. Phasellus non maximus orci, quis ultricies justo.
      Maecenas fringilla ac ligula sed ultrices. Cras fermentum sapien neque,
      nec sodales ipsum ullamcorper id. Donec faucibus nulla nec lectus
      tristique, sed iaculis mi ornare. Nunc eget lectus tristique, placerat
      nisl sed, dapibus ipsum. Aliquam congue libero diam, nec interdum nunc
      pharetra vitae. Sed feugiat euismod ex eu egestas. Cras ornare justo a
      turpis commodo, ut porta enim hendrerit. Proin pretium vulputate augue, ac
      lacinia diam consectetur non. Nam efficitur, neque nec interdum maximus,
      nibh neque pellentesque mauris, eu viverra leo risus quis tortor. Nunc
      tincidunt dictum magna nec aliquam. Proin eget eros est. Interdum et
      malesuada fames ac ante ipsum primis in faucibus. Vestibulum aliquam urna
      sed metus eleifend, at dignissim justo varius. Donec tristique magna non
      ex vestibulum, non pharetra ligula pharetra. Quisque vel elit quis quam
      pulvinar imperdiet vitae et mauris. Duis in vulputate justo. Cras bibendum
      dui sagittis tortor euismod lobortis. Curabitur semper ultrices quam eu
      volutpat. Aliquam commodo quis ligula nec interdum. Mauris dictum
      convallis aliquet. Mauris ac egestas dolor. Nullam ac malesuada nisi,
      efficitur vestibulum est.
    </p>
  </div>
</div>

<div class="content-center">
    <app-button label="Cofnij" type="navigate" navigateTo="/" variant="primary" size="inherit"></app-button>
  </div>
