<div class="gallery-container">
    <h2>Moje prace</h2>
    <div class="gallery-grid">
        @for (img of images; track $index) {
            <div class="thumbnail-wrapper" (click)="openImage(img)">
                <img [src]="img" alt="kaboom" class="thumbnail" />
            </div>
          }
    </div>
  
    @if (selectedImage()) {
        <div class="lightbox" (click)="closeImage()">
          <button class="nav-btn prev" (click)="prevImage(); $event.stopPropagation()">&#10094;</button>
          <img [src]="selectedImage()" class="full-image" (click)="$event.stopPropagation()" />
          <button class="nav-btn next" (click)="nextImage(); $event.stopPropagation()">&#10095;</button>
          <button class="close-btn" (click)="closeImage(); $event.stopPropagation()">&times;</button>
        </div>
      }
</div>
