<div class="gallery-container">
  <h2>Moje prace</h2>
  <div class="gallery-grid">
    @for (img of galleryService.getImages(); track img) {
    <div class="thumbnail-wrapper" (click)="openImage(img)">
      <img [src]="img.thumbnailImageSrc" [alt]="img.alt" class="thumbnail" />
    </div>
    }
  </div>

  @if (galleryService.getSelectedImage()) {
  <div class="lightbox" appGalleryKeyboardControl (click)="closeImage()">
    <button
      class="nav-btn prev"
      (click)="prevImage(); $event.stopPropagation()"
    >
      &#10094;
    </button>
    <img
      [src]="galleryService.getSelectedImage()?.itemImageSrc"
      class="full-image"
      (click)="$event.stopPropagation()"
    />
    <button
      class="nav-btn next"
      (click)="nextImage(); $event.stopPropagation()"
    >
      &#10095;
    </button>
    <button class="close-btn" (click)="closeImage(); $event.stopPropagation()">
      &times;
    </button>
  </div>
  }
</div>
